@CHARSET "UTF-8";

.left {
	width: 30%;
	height: 100%;
	position: fixed;
	background: black;
	z-index: 10;
}

.right {
	width: 70%;
	height: 100%;
	background: gray;
	position: relative;
	margin-left: 30%;
}

.section {
	width: 100%;
	height: 100%;
}

.s1 {
	background: red;
}

.s2 {
	background: orange;
}

.s3 {
	background: yellow;
}

.s4 {
	background: green;
}

.s5 {
	background: blue;
}

.left>.menu {
	background: grey;
	width: 90%;
	position: relative;
	margin: 0 auto;
	margin-top: 150px;
}

ul {
	list-style: none;
}

.left>.menu>ul>li {
	border: 2px black solid;
	text-align: center;
	color: yellow;
}

.left>.menu>ul>li:hover {
	background: blue;
	color: white;
}

div.layer {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	left: 0;
	top: 0;
}

div.layer>div.box {
	width: 40%;
	height: 60%;
	position: fixed;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
	left: 30%;
	top: 20%;
	border: 10px solid #fff;
	background: #ccc;
}

.box>form>ul>li {
	height: 50px;
}

.box>form>ul>li:nth-child(5)>input {
	background: black;
	color: white;
	width: 100px;
}